<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Assets/Style/profile.css">
    <title>Document</title>
</head>

<body>
    <%- include('./partials/header.ejs') %>
        <div class="profileContainer">
            <div class="profileLeftPanel">
                <img class="profilePicture">
                <form method="POST" class = "profileSubmission">
                    <label for="profilePicUpload" class="uploaderIcon"><i
                            class="fa-solid fa-cloud-arrow-up"></i></label>
                    <input type="file" name="profilePicUpload" id="profilePicUpload">
                </form>
                <div class="username">USERNAME</div>
            </div>
        </div>
</body>
<script src="/Source/profile.js"></script>

</html>