.loginFailedContainer{
    width: 100%;
    height: 50.5rem;
    background-image: url('/Assets/Images/Login/pets-3715733_1920.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    text-shadow: 2px 2px white;
    font-size: 4rem;
}

.loginLink{
    color: lime;
    text-shadow: 2px 2px black;
    position: relative;
}

.loginLink::after{
    content: "";
    width: 0;
    height: 3px;
    background-color: lime;
    position: absolute;
    transform: translate(-50%,0);
    left: 50%;
    bottom: -1rem;
    transition: all 1s ease;
}

.loginLink:hover::after{
    width: 100%;
}

.loginLink:visited{
    color: lime;
    text-shadow: 2px 2px black;
}