.notification{
    width: 100%;
    height: 50.5rem;
    background-image: url('/Assets/Images/Register/northern-lights-7677986_1920.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 4rem;
    font-family: 'Arima',serif;
    font-weight: 500;
}