<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://d1i941plp513i2.cloudfront.net/Assets/Style/style.css">
    <link rel="stylesheet" href="https://d1i941plp513i2.cloudfront.net/Assets/Style/base.css">
    <link rel="stylesheet" href="/Style/CreateProfile.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
        integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w=="
        crossorigin="anonymous" referrerpolicy="no-referrer">

    <link href="https://cdn.jsdelivr.net/gh/hung1001/font-awesome-pro-v6@44659d9/css/all.min.css" rel="stylesheet"
        type="text/css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Arima:wght@100;200;300;400;500;600;700&family=Dancing+Script:wght@400;500;600;700&family=Noto+Serif+Display:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Roboto+Serif:ital,opsz,wght@0,8..144,100;0,8..144,200;0,8..144,300;0,8..144,400;0,8..144,500;0,8..144,600;0,8..144,700;0,8..144,800;0,8..144,900;1,8..144,100;1,8..144,200;1,8..144,300;1,8..144,400;1,8..144,500;1,8..144,600;1,8..144,700;1,8..144,800;1,8..144,900&display=swap"
        rel="stylesheet">
    <title>Document</title>
</head>

<body>
    <div class="createProfileContainer">
        <form action="http://localhost:3000/firstLogin" method="POST" class = "profileForm" enctype="multipart/form-data">
            <div class="userAliasForm">
                <div class="chooseNameTitle">What should we call you?</div>
                <input type="text" name="alias" id="alias" maxlength="20">
            </div>
            <div class="avatarForm">
                <img class="previewImg">
                <label for="avatar" class="avatarLabel"><i class="fa-solid fa-camera"></i></label>
                <input type="file" name="avatar" id="avatar" accept="image/*">
            </div>
            <div class="genderForm">
                <div class="genderChoose">
                    <div class="genderOption male"><i class="fa-solid fa-mars"></i></div>
                    <div class="genderOption female"><i class="fa-solid fa-venus"></i></div>
                </div>
                <input type="hidden" name="gender" id="gender">
            </div>
            <div class="nameForm">
                <div class="nameFormTitle">What is it?</div>
                <input type="text" name="realName" id="realName">
            </div>
            <div class="workplaceForm">
                <input type="text" name="workplace" id="workplace">
            </div>
            <div class="educationForm"> 
                <input type="text" name="education" id="education">
            </div>
            <div class="interestForm">
                <input type="hidden" name="interests" id="userInterests">
            </div>
            <div style="display: none;" class = "IDForm">
                <input type="hidden" name="ID" value = '<%- ID %>'>
            </div>
        </form>
        <div class="chooseAvatarTitle">Present yourself with an avatar.</div>
        <div class="keyboard">
            <div class="row">
                <span class="key">Esc</span>
                <span class="key">1</span>
                <span class="key">2</span>
                <span class="key">3</span>
                <span class="key">4</span>
                <span class="key">5</span>
                <span class="key">6</span>
                <span class="key">7</span>
                <span class="key">8</span>
                <span class="key">9</span>
                <span class="key">0</span>
                <span class="key">Backspace</span>
            </div>
            <div class="row">
                <span class="key">Tab</span>
                <span class="key">Q</span>
                <span class="key">W</span>
                <span class="key">E</span>
                <span class="key">R</span>
                <span class="key">T</span>
                <span class="key">Y</span>
                <span class="key">U</span>
                <span class="key">I</span>
                <span class="key">O</span>
                <span class="key">P</span>
                <span class="key">{</span>
                <span class="key">}</span>
                <span class="key">\</span>
            </div>
            <div class="row">
                <span class="key">CapsLock</span>
                <span class="key">A</span>
                <span class="key">S</span>
                <span class="key">D</span>
                <span class="key">F</span>
                <span class="key">G</span>
                <span class="key">H</span>
                <span class="key">J</span>
                <span class="key">K</span>
                <span class="key">L</span>
                <span class="key">Enter</span>
            </div>
            <div class="row">
                <span class="key">Shift</span>
                <span class="key">Z</span>
                <span class="key">X</span>
                <span class="key">C</span>
                <span class="key">V</span>
                <span class="key">B</span>
                <span class="key">N</span>
                <span class="key">M</span>
                <span class="key">Shift</span>
            </div>
            <div class="row">
                <span class="key space">Space</span>
            </div>
        </div>
        <div class="nextBtn">Next</div>
        <div class="chooseGenderTitle">What's your gender?</div>
        <div class="realNameTitle">Do you want to tell us your name?</div>
        <div class="realNameOptions">
            <div class="nameOption nameYes">Yes</div>
            <div class="nameOption nameNo">No</div>
        </div>
        <div class="workplaceTitle">Where do you work?(optional)</div>
        <div class="educationTitle">What is your university/college/highschool?(optional)</div>
        <div class="interestTitle">Choose 3 interests ¯\_(ツ)_/¯</div>
        <div class="interestTable">
            <div class="orb"></div>
            <div class="orb"></div>
            <div class="orb"></div>
            <div class="orb"></div>
            <div class="interestBox">
                <div class="interests">
                    <div class="interestRow">
                        <div class="interest"><i class="fa-solid fa-code"></i>Coding</div>
                        <div class="interest"><i class="fa-solid fa-book-open"></i>Reading</div>
                        <div class="interest"><i class="fa-solid fa-gamepad"></i>Gaming</div>
                        <div class="interest"><i class="fa-solid fa-microphone"></i>Singing</div>
                    </div>
                    <div class="interestRow">
                        <div class="interest"><i class="fa-solid fa-graduation-cap"></i>Learning new things</div>
                        <div class="interest"><i class="fa-solid fa-dice-d20"></i>Dungeons and Dragons</div>
                    </div>
                    <div class="interestRow">
                        <div class="interest"><i class="fa-solid fa-tv"></i>Netflix and Chill</div>
                        <div class="interest"><i class="fa-regular fa-futbol"></i>Football</div>
                        <div class="interest"><i class="fa-solid fa-user-chef"></i>Cooking</div>
                    </div>
                    <div class="interestRow">
                        <div class="interest"><i class="fa-solid fa-basketball"></i>Basketball</div>
                        <div class="interest"><i class="fa-solid fa-person-swimming"></i>Swimming</div>
                        <div class="interest"><i class="fa-solid fa-person-skating"></i>Skating</div>
                        <div class="interest"><i class="fa-solid fa-golf-flag-hole"></i>Golf</div>
                    </div>
                    <div class="interestRow">
                        <div class="interest"><i class="fa-regular fa-badminton"></i>Badminton</div>
                        <div class="interest"><i class="fa-solid fa-baseball-bat-ball"></i>Baseball</div>
                        <div class="interest"><i class="fa-solid fa-table-tennis-paddle-ball"></i>Ping Pong</div>
                        <div class="interest"><i class="fa-duotone fa-tennis-ball"></i>Tennis</div>
                    </div>
                    <div class="interestRow">
                        <div class="interest"><i class="fa-solid fa-bullseye-arrow"></i>Archery</div>
                        <div class="interest"><i class="fa-solid fa-space-station-moon"></i>Star War</div>
                        <div class="interest"><i class="fa-solid fa-uniform-martial-arts"></i>Martial Art</div>
                    </div>
                    <div class="interestRow">
                        <div class="interest"><i class="fa-solid fa-palette"></i>Painting</div>
                        <div class="interest"><i class="fa-solid fa-pen-nib"></i>Writing</div>
                        <div class="interest"><i class="fa-solid fa-football"></i>American football</div>
                    </div>
                    <div class="interestRow">
                        <div class="interest"><i class="fa-solid fa-rugby-ball"></i>Rugby</div>
                        <div class="interest"><i class="fa-solid fa-bag-shopping"></i>Shopping</div>
                        <div class="interest"><i class="fa-solid fa-swords"></i>Adventuring</div>
                    </div>
                    <div class="interestRow">
                        <div class="interest"><i class="fa-solid fa-volleyball"></i>Volleyball</div>
                        <div class="interest"><i class="fa-solid fa-person-walking"></i>Walking</div>
                        <div class="interest"><i class="fa-solid fa-person-running"></i>Running</div>
                    </div>
                    <div class="interestRow">
                        <div class="interest"><i class="fa-solid fa-person-snowboarding"></i>Snowboarding</div>
                        <div class="interest"><i class="fa-solid fa-person-biking"></i>Cycling</div>
                        <div class="interest"><i class="fa-solid fa-person-biking-mountain"></i>Mountain Cycling</div>
                    </div>
                    <div class="interestRow">
                        <div class="interest"><i class="fa-solid fa-pot-food"></i>Eating</div>
                        <div class="interest"><i class="fa-sharp fa-solid fa-camera-retro"></i>Photography</div>
                        <div class="interest"><i class="fa-regular fa-masks-theater"></i>Acting</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="preparingTitle">Preparing your profile!</div>
        <div class="loading"></div>
    </div>
</body>
<script src="/Source/CreateProfile.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js"
    integrity="sha512-STof4xm1wgkfm7heWqFJVn58Hm3EtS31XFaagaa8VMReCXAkQnJZ+jEy8PCC/iT18dFy95WcExNHFTqLyp72eQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

</html>