<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Assets/Style/style.css">
    <link rel="stylesheet" href="/Assets/Style/base.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
        integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w=="
        crossorigin="anonymous" referrerpolicy="no-referrer">
    <link href="https://cdn.jsdelivr.net/gh/hung1001/font-awesome-pro-v6@44659d9/css/all.min.css" rel="stylesheet"
        type="text/css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Arima:wght@100;200;300;400;500;600;700&family=Dancing+Script:wght@400;500;600;700&family=Noto+Serif+Display:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Roboto+Serif:ital,opsz,wght@0,8..144,100;0,8..144,200;0,8..144,300;0,8..144,400;0,8..144,500;0,8..144,600;0,8..144,700;0,8..144,800;0,8..144,900;1,8..144,100;1,8..144,200;1,8..144,300;1,8..144,400;1,8..144,500;1,8..144,600;1,8..144,700;1,8..144,800;1,8..144,900&display=swap"
        rel="stylesheet">
    <title>Document</title>
</head>

<body>
    <audio src="/Assets/Audio/y2mate.com - øneheart x reidenshi  snowfall.mp3" class="webSong" autoplay loop
        preload="auto"></audio>
    <div class="menu">
        <div class="menuIcon">
            <div class="menuLine"></div>
            <div class="menuLine"></div>
            <div class="menuLine"></div>
        </div>
        <ul class="menuItem">
            <li><i class="fas fa-house" style="margin-right: 1rem;"></i><a href="http://13.212.254.213:3000">Home</a></li>
            <% if (!loginState) { %>
                <li><a href="http://13.212.254.213:3000/shop"><i class="fas fa-cart-shopping"
                            style="margin-right: 1rem;"></i>Shop</a></li>
                <% } else { %>
                    <form action="http://13.212.254.213:3000/shop" method="POST" class="shopForm" style="display: none;">
                        <input type="hidden" name="ID" value=<%=ID%>>
                    </form>
                    <li class="shop"><i class="fas fa-cart-shopping" style="margin-right: 1rem;"></i>Shop</li>
                    <% } %>
                        <li><i class="fa-regular fa-address-card" style="margin-right: 1rem;"></i>About Us</li>
                        <li><i class="fa-brands fa-stack-overflow" style="margin-right: 1rem;"></i>Technology Stack</li>
                        <% if (!loginState) { %>
                            <li><a href="/Public//Register/register.html"><i class="fa-regular fa-circle-check"
                                        style="margin-right: 1rem;"></i>Register</a></li>
                            <li><a href="/Public/Login/login.html"><i class="fas fa-right-to-bracket"
                                        style="margin-right: 1rem;"></i>Sign In</a></li>
                            <% } else { %>
                                <li class="userProfile"><i class="fa-solid fa-user"
                                        style="margin-right: 1rem;"></i></i>Profile
                                </li>
                                <form action="http://13.212.254.213:3000/user" method="GET" style="display: none;"
                                    class="profileForm">
                                    <input type="text" name="ID" value="<%-ID%>">
                                </form>
                                <li class = "signOut"><i class="fa-solid fa-right-from-bracket" style="margin-right: 1rem;"></i>Sign Out
                                </li>
                                <form action="/" method="GET" style = "display: none" class = "signOutForm">
                                    <input type="hidden" name="signOut" value= true>
                                </form>
                                <% } %>
        </ul>
    </div>
    <div class="backToTop">Back to top</div>
    <div id="header">
        <div class="playMusic"></div>
        <video src="/Assets/Video/Intro/Ink - 67358.mp4" class="mainBgVideo" autoplay loop preload="auto" muted
            disablePictureInPicture></video>
        <div class="headerOverlay">
            <div class="webName">Bloom</div>
            <div class="headerSubText">Nature Within The Palm Of Hand</div>
        </div>
    </div>
    <div id="latest">
        <div class="latestNews">
            <img src="/Assets/Images/Latest/middle-spotted-woodpecker-7631440_1280.jpg" alt="" class="newsImg">
            <div class="imgBg"></div>
            <div class="newsText">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eget placerat nisi, ut
                aliquet lectus. Etiam sodales magna eget eros tristique semper. Pellentesque maximus mi non ex aliquam,
                a pharetra massa blandit. Sed diam lacus, pharetra ut est sed, commodo pharetra velit. Praesent faucibus
                velit velit, ut tincidunt urna ultricies nec. </div>
            <div class="textBg"></div>
        </div>
    </div>
    <div id="aquaticShowcase">
        <video src="/Assets/Video/Aqua/Jellyfish - 26818.mp4" class="aquaticBg" autoplay muted loop
            preload="auto"></video>
        <div class="aquaticOverlay">
            <div class="aquaticTitle">Discover The Vast Ocean</div>
            <div class="aquaticSubText">Dive Into The Oblivious And Hollow Sea</div>
        </div>
        <div class="discoverBtn aquaticBtn">Discover More</div>
    </div>
    <div id="mountainShowcase">
        <video src="/Assets/Video/Mountain/Mountain - 34608.mp4" class="mountainBgVideo" autoplay muted preload="auto"
            loop></video>
        <div class="mountainOverlay">
            <div class="mountainTitle">Soar Above The Azure Sky</div>
            <div class="mountainSubText">Gaze Into The Endless Scenery Of Nature</div>
        </div>
        <div class="discoverBtn mountainBtn">Discover More</div>
    </div>
</body>
<script src="/Source/playground.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js"
    integrity="sha512-STof4xm1wgkfm7heWqFJVn58Hm3EtS31XFaagaa8VMReCXAkQnJZ+jEy8PCC/iT18dFy95WcExNHFTqLyp72eQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/particles.js/2.0.0/particles.min.js"
    integrity="sha512-Kef5sc7gfTacR7TZKelcrRs15ipf7+t+n7Zh6mKNJbmW+/RRdCW9nwfLn4YX0s2nO6Kv5Y2ChqgIakaC6PW09A=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

</html>