#registerContainer{
    width: 100vw;
    height: 160vh;
    position: relative;
    background-image: url('/Assets/Images/Register/forest-7604096_1920.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
}

.registerForm{
    width: 40%;
    height: 70%;
    position: absolute;
    top: 15%;
    background-color: rgba(240,248,250,0.4);
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 10px;
    box-shadow: 0px 0px black;
    transition: box-shadow 2s ease;
}

.registerForm:hover{
    box-shadow: -40px 40px black;
}

.registerForm > input{
    width: 80%;
    height: 5%;
    font-size: 2rem;
    font-weight: 300;
    font-family: 'Arima', serif;
    margin-left: 10%;
    border-radius: 10px;
    outline: none;
    text-indent: 1rem;
    border: none;
}

.registerForm > input:focus{
    outline: none;
}

.formText{
    font-size: 3rem;
    font-family: 'Arima', serif;
    font-weight: 600;
    margin-left: 10%;
}

.submitBtn{
    width: 10rem;
    height: 10rem;
    background-color: #ff4655;
    position: absolute;
    bottom: 2%;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.submitBtn:hover{
    filter: brightness(80%);
    color: white;
}

.passwordStrengthContainer{
    position: relative;
    width: 80%;
    height: 5%;
    align-self: center;
}

.passwordStrengthShell{
    width: 100%;
    height: 4rem;
    border-radius: 20px;
    background-color: whitesmoke;
    text-align: center;
    line-height: 4rem;
    font-size: 3rem;
    font-family: 'Arima', serif;
}

.passwordStrengthText{
    font-size: 3rem;
    font-weight: 500;
    font-family: 'Arima', serif;
    z-index: 1;
    position: relative;
}

.passwordStrengthIndicator{
    width: 0;
    height: 4rem;
    background-color: red;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 20px 0 0 20px;
    transition: border-radius 1s ease, width 1s ease, background-color 1s ease;
}